.header__right-text {
	font-size: 14px;
	margin-left: 10px;
}

header .container .head__left-side {
	max-width: 275px;
}

@media (max-width: 767px) {
	header .container .head__left-side {
		max-width: 100%;
	}
}

.works__text {
	font-size: 14px;
	margin-top: 30px;
}

.small-text {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 20px auto 0 auto;
	text-align: center;
}

.specials {
	padding: 75px 0 !important;
}

.vantage .container .vantage__row {
	align-items: flex-start;
}

.vantage .container .vantage__row:first-child {
	margin-bottom: 30px;
}

.footer__right-text {
	width: 100%;
	max-width: 600px;
	font-size: 14px;
}

@media (max-width: 1170px) {
	footer .footer__right-text {
		width: 100%;
		margin: 20px auto 10px auto;
	}
}

.container-info {
	min-height: calc(100vh - 350px);
}

.container-info table {
	border-collapse: collapse;
}

.container-info td {
	padding: 10px;
	border: 1px solid #000;
	width: 50%;
}

.container-info td:first-child {
	text-align: center;
}

header .container .head__right-side {
	max-width: 680px;
}

@media (max-width: 1170px) {
	header .container .head__right-side {
		max-width: 520px;
	}
}

@media (max-width: 992px) {
	.head__right-text {
		display: none;
	}
	.head__right-side{
		margin-right: 100px;
	}
}

@media (max-width: 991px) {
	footer .container {
		flex-direction: column;
	}

	.footer__left-text {
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.works__text {
		font-size: 12px;
	}

	footer .footer__right-text {
		display: block;
	}

	.small-text {
		font-size: 11.5px;
	}

	header .container .head__right-side {
		max-width: 100%;
		margin-right: 10px;
	}
}

.vintage__ul_li {
	justify-content: flex-start !important;
}
.head__right-side p{
	margin: 0;
	min-width: 150px;
}
@media (max-width: 475px) {
	.head__right-side p{
		margin: 20px 0;
	}
}
